@charset "UTF-8";
  
	#container {
	  margin: 100px auto;
	  width: 800px;
	}
	
	#none-border > fieldset {
	   border:0 solid black;
	}
	
	label {
	  font-size: 20px;
	}
	
	input {
	  height: 50px;
	}
	
	li {
	  margin-top: 20px;
	}
	
	.update_btn, .qna_btn, .draw_btn {
	   text-align: center;
	}
	
	#changePw, #cancle {
	   width: 150px;
	}
	
	#cancle {
	   margin-left: 20px;
       width: 150px;
	}
