body {
    font-family: 'NanumSquareNeo', sans-serif;
    height:auto;
}

#font-id {
  font-family: 'NanumSquareNeoBold';
}

h1, h2, h3, thead, .badge {
    font-weight: bold;
}

footer {
	  font-family: 'NanumSquareNeo', sans-serif;
	  position: absolute; 
	  bottom:0;
	  width: 100%;
}

.roadscanner {
	font-family: 'Bruno Ace', cursive; 
	font-weight: 900;
}

.nav-item {
	font-size: 15px;
}

.form-control:focus {
      box-shadow: none;
      border-color: #666666;
}

#welcome {
	margin: 25px 15px 1rem 0px;
}