@charset "UTF-8";

input:focus {outline: none;} /* outline 테두리 없애기 */

.roadscannercontainer{
	width: 900px;
	margin: auto;
	margin-top: 25px;
	text-align: center;	
}

.loginbox{
	border-radius: 0.375rem;
	width: 100%;
    margin: auto;
}

.loginboxdiv{
  border-radius: 0.375rem;
  width:510px;
  display: flex;
  margin : auto;
  border: 1px solid black;
    
}

.icon{
  width: 60px;
  height: 60px;
  background-color : #EDEDED;
  border-radius: 0.375rem;
  -webkit-user-drag: none;
}

.loginidpwbtn{
	border-radius: 0.375rem;
	border : none;
	padding : 0px 0px;
    width: 450px;
    height: 60px;
    margin-left: 5px;  
}

.btndiv{
	width: 140px;
	height: 50px;
	border: 1px solid black;
	border-radius: 0.375rem;
	text-align: center;
	margin: auto;
	padding: 10px 0;
}

.outbtn1{
    background-color: white; 
    width: 160px; 
    height: 70px; 
    color: white;
    margin-right:30px;
    border: 1px solid balck;
    border-radius: 0.375rem;
    filter: brightness(1);
}

.outbtn1:hover{
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    filter: brightness(0.9);
}

.outbtn2{
    background-color: red; 
    width: 160px; 
    height: 70px; 
    color: black;
    margin-left:30px; 
    border: 1px solid balck;
    border-radius: 0.375rem;
    filter: brightness(1);
}

.outbtn2:hover{
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    filter: brightness(0.9);
}

.loginbtn{
	margin-top: 20px;
    border : none;
    padding : 0px 0px;
    width: 510px;
    height: 60px;
    background-color: #5E5E5E;
    color: white;
    border-radius: 0.375rem;
}

.loginbtn:hover{
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	background-color:black;
}


.findinputdiv{
	width: 510px;
    height: 60px;   
   
}

.findinput{
	width: 400px;
    height: 60px;
    border-radius: 0.375rem;
}


.findbtn{
    margin-top: 20px;
    width: 200px;
    height: 50px;
    border-radius: 0.375rem;
    margin-left: 100px;
}

.findbtn:hover{
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    background-color:black;
    color: white;
}

.jb-division-line {
  border-top: 1px solid #444444;
  margin: 80px auto;
  width: 1000px;
  height: 0px;
}

.pagetext{
	text-decoration-line: none;
	color: black;
	font-size: 1.5em;
	font-weight: bold;
}

.pagetext:hover{
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;	
    color: #0d6efd;
}

.formabc {
	width: 410px; 
	margin:auto; 
	text-align:left;
	font-size: 20px;
	font-weight: 900;
}

