@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace&display=swap');

input:focus {outline: none;} /* outline 테두리 없애기 */

#head-logo {
	font-family: 'Bruno Ace', cursive;
	font-size: 50px;
	text-decoration: none;
	color: black; 
	margin: auto;
  text-align: center;
  margin-bottom: -100px;
}

.roadscannercontainer {
	width: 900px;
	margin: auto;
	text-align: center;	
}

.loginbox{
	border-radius: 0.375rem;
	width: 100%;
  margin: auto;
}

.loginboxdiv{
  border-radius: 0.375rem;
  width:510px;
  display: flex;
  margin : auto;
  border: 1px solid black;
    
}

#button-div {
	width: 510px;
	margin: auto; 
	display: flex; 
	justify-content: space-between;
}

.for-btn-center {
	width: 230px;
	height: 45px;
}

.icon{
  width: 40px;
  height: 40px;
/* background-color : #EDEDED; */
  border-radius: 0.375rem;
  -webkit-user-drag: none;
  margin: 10px 5px;
  margin-right: 10px;
  
}

.loginidpwbtn{
	border-radius: 0.375rem;
	border : none;
	padding : 0px 0px;
  width: 450px;
  height: 60px;
  margin-left: 5px;  
}

.btndiv{
	width: 140px;
	height: 50px;
	border: 1px solid black;
	border-radius: 0.375rem;
	text-align: center;
	margin: auto;
	padding: 10px 0;
}

.loginbtn{
	margin-top: 20px;
  width: 510px;
  height: 60px;
}


.findinputdiv{
	width: 510px;
  height: 60px;   
   
}

.findinput{
	width: 400px;
  height: 60px;
  border-radius: 0.375rem;
}


.findbtn{
  margin-top: 20px;
  width: 200px;
  height: 50px;
  margin-left: 100px;
}

.jb-division-line {
  border-top: 1px solid #444444;
  margin: 80px auto;
  width: 1000px;
  height: 0px;
}

.pagetext{
	text-decoration-line: none;
	color: black;
	font-size: 1.5em;
	font-weight: bold;
}

.pagetext:hover{
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;	
  color: #0d6efd;
}

.formabc {
	width: 410px; 
	margin:auto; 
	text-align:left;
	font-size: 20px;
	font-weight: 900;
}

