@charset "UTF-8";
  body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  .main-content {
    flex-grow: 1;
    padding: 20px; /* 메인 콘텐츠와 화면 가장자리 사이 간격 추가 */
  }
  
	h2 {
	  margin: 20px;
	}
	.accordion-button {
	  font-size: 20px;
	  font-weight: bold;
	  background-color: #F5F5F5;
	  border: none;
	}
	.accordion-button:hover {
	  background-color: #EEEEEE;
	}
	.accordion-button:not(.collapsed), .accordion-button:focus {
	  background-color: #E0E0E0;
	  border: none;
	  color: black;
	  box-shadow: none;
	}
	.accordion-item {
	  border: none; /* 선 제거 */
	}
	.barchart {
	  width: 60%;
	  margin-bottom: 20px;
	}
	.form-select:focus {
	  box-shadow: none;
	  border-color: #c1c1c1;
	}
	.linechart {
	  width: 60%;
	  margin: 0 auto; /* 가운데 정렬 */
	}
	
 /* 아코디언 스타일 */
 .accordion-item {
   border: 1px solid #ccc;
   margin-bottom: 10px;
 }
 
 .accordion-header {
   background-color: #f2f2f2;
   padding: 10px;
   cursor: pointer;
 }
 
 .accordion-content {
   display: none;
   padding: 10px;
 }
 
 /* 아코디언 아이콘 스타일 */
 .accordion-icon {
   float: right;
   font-size: 18px;
 }
 
 /* 열린 아코디언 스타일 */
 .accordion-item.open .accordion-content {
   display: block;
 }
 .accordion-item.open .accordion-icon {
   transform: rotate(180deg);
 }	
