@charset "UTF-8";

.reg_container {
  margin : 60px auto;
  text-align : center;
}
       
.ccu {
   list-style:none;
}

.nest1{
  margin-right: 5px;
  width:150px;
  height:40px; 
}

.nest2{
  margin-left: 5px;
  width:150px;
  height:40px; 
}

.cc {
  width:500px;
  height:62px;
  margin-top:20px;
  font-weight: bold;
} 

#id_form, #pw_form, #pw2_form, #name_form, #phone_num {
  font-size: 12pt;
  width: 400px;
  height: 38px;
}

.outbtn2 {
  font-size: 12pt;
  text-align:center;
  width:150px;
  height:40px;      
  background-color:#ffbd24;
  margin-left: 30px;
  color: #ffffff;
  border:0px solid #ffbd24;
  border-radius: 0.375rem;
}

.btn-outline-dark:hover{
background-color:yellow;
}

input[type="email"] {
  font-size: 12pt;
  width: 185px;
  height: 38px;
}

.listinput {
  font-size: 12pt;
  width: 185px;
  height: 38px;
}      

#birth_year {
  font-size: 12pt;
  width: 125px;
  height: 38px;
}

#birth_month, #birth_day {
  font-size: 12pt;
  width: 126px;
  height: 38px;
}

#post_code {
  font-size: 12pt;
  width: 180px;
  height: 38px;
}

#address, #rest_address {
  font-size: 12pt;
  width: 400px;
  height: 38px;
  margin: 3px 0px 0px 0px;
}

#btn {
  background-color: #fff;
  border: 0px solid black;
  text-decoration: underline;
}
 