@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace&display=swap');

#head-logo {
    font-family: 'Bruno Ace', cursive;
    font-size: 50px;
    text-decoration: none;
    color: black; 
    margin: auto;
  text-align: center;

}

#head-logo2 {
    font-size: 50px;
    text-decoration: none;
    color: black; 
    margin: auto;
    margin-left: 20px;
  text-align: center;
    
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.reg_container {
  margin : 60px auto;
  text-align : center;
  flex-grow: 1;
  padding: 10px; /* 메인 콘텐츠와 화면 가장자리 사이 간격 추가 */  
}

.logo {
	font-family: 'Bruno Ace', cursive;
	font-weight: 900;
	margin-bottom: 60px;
}
    
.ccu {
   list-style:none;
}

.nest1{
  margin-right: 5px;
  width:150px;
  height:40px; 
}

.nest2{
  margin-left: 10px;
  width: 150px;
  height: 40px; 
}

.cc {
  width:500px;
  height:62px;
  margin-top:20px;
  font-weight: bold;
} 

#id_form, #pw_form, #pw2_form {
  font-size: 12pt;
  width: 400px;
  height: 38px;
}

input[type="email"] {
  font-size: 12pt;
  width: 185px;
  height: 38px;
}

.listinput {
  font-size: 12pt;
  width: 185px;
  height: 38px;
}