@charset "UTF-8";
  
	#container {
	  margin: auto;
	  width: 800px;
	}
	
	label {
	  font-size: 20px;
	}
	
	input {
	  height: 50px;
	}
	
	#for-margin-id li {
	  margin-top: 20px;
	}
	
	.update_btn, .qna_btn, .draw_btn {
	   text-align: center;
	}
	
	#update, #cancel {
	   width: 150px;
	}
	
	#myQnAboard {
     margin-top: 60px;
     width: 200px;
  }
    
  #withdraw {
     margin-top: 20px;
     width: 200px;
  }