@charset "UTF-8";
  
  header {
  
  }
  
	#container {
	  margin-top: 60px;
	  margin: auto;
	  width: 800px;
	}
	
	label {
	  font-size: 20px;
	}
	
	input {
	  height: 50px;
	}
	
	.margin_li {
	  margin-top: 20px;
	}
	
	.update_btn, .qna_btn, .draw_btn {
	   text-align: center;
	}
	
	#update, #cancel {
	   margin-top: 40px;
	   width: 150px;
	}
	
	#myQnAboard {
       margin-top: 60px;
       width: 200px;
  }
    
  #withdraw {
       margin-top: 20px;
       width: 200px;
  }