<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
  <configuration>
    <!-- 기본 설정 -->
    <settings>
        <setting name="logImpl" value="LOG4J2"/>
        <setting name="jdbcTypeForNull" value="NULL"/>
    </settings>

    <typeAliases>
        <typeAlias type="com.roadscanner.domain.MemberVO" alias="MemberVO"/>
        <typeAlias type="com.roadscanner.domain.qna.QuestionVO" alias="QuestionVO" />
        <typeAlias type="com.roadscanner.domain.qna.AnswerVO" alias="AnswerVO" />
    </typeAliases>

    <!-- 날짜타입 핸들러 추가 -->
    <typeHandlers>
        <typeHandler handler="org.apache.ibatis.type.LocalDateTimeTypeHandler" />
        <typeHandler handler="org.apache.ibatis.type.LocalDateTypeHandler" />
        <typeHandler handler="org.apache.ibatis.type.LocalTimeTypeHandler" />
    </typeHandlers>
</configuration>
